#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  font-family: Courier;
}

#greeting-container {
  margin-top: 20px;
}

#indent {
  text-indent: 40px;
}

#header {
    background-color: rgba(105, 105, 105, 0.26); 
    text-align: center; 
    color: black;
    border-radius: 15px;
}